# Virtual Environment (multiple naming variations)
*env/
*venv/
.env/
.venv/

# Ignore data folder
data/

# Environment Variables
.env
*.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and system files
.vscode/
.idea/
.DS_Store